* {
	margin: 0;
	padding: 0;
	border: none;
	cursor: url('images/cursor.png') 39 39, auto;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	background: white;
	font: 28px/1em "Helvetica";
	color: #FFF;
}

a {
	color: #FFF;
}

::-webkit-scrollbar {
	display: none;
}
